# Ignore node_modules (installed fresh in the container)
node_modules
deployment-manifest/


# Ignore local environment files
.env
.gitignore
# Ignore logs
*.log

# Ignore test files and coverage reports
test/
coverage/

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
